/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto|Merriweather&display=swap');

/* Color Scheme */
:root {
    --primary-color: #005a87; /* Dark blue */
    --secondary-color: #f0f0f0; /* Light grey */
    --accent-color: #a5be00; /* Lime green */
    --text-color: #403a3a; /* Dark grey */
}

/* Global Styles */
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
}

/* Top Navigation Bar */
.topnav {
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: var(--secondary-color);
}

/* Profile Photo */
.profile-photo {
    height: 135px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    left: 100%;
}

.profile-photo:hover {
    transform: scale(1.1);
}

/* Bottom Navigation Bar */
.botnav {
    background-color: #292b2c;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.botnav p a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.botnav p a:hover {
    color: var(--secondary-color);
}

/* Education Section */
.edu {
    padding: 20px;
    margin: 20px;
    max-width: 49%;
}

/* Work Experience Section */
.xp {
    padding: 20px;
    margin: 20px;
    max-width: 49%;
}

/* About Me Section */
.aboutme {
    padding: 15px;
    text-align: center;
    color: rgb(36, 43, 83);
    font-size: larger;
    background-color: rgb(238, 236, 226);
}

.aboutme p {
    font-size: 40px;
    margin: 8px;
}

/* Headings */
h2 {
    color: var(--primary-color);
    padding: 2px;
    margin: 0px;
}

h3 {
    padding: 5px;
    margin: 0px;
}

h5 {
    margin: 0%;
}

/* Responsive Grid Layout */
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .profile-photo {
        position: static;
        margin: 0 auto;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .edu, .xp {
        max-width: 100%;
    }
}
